@font-face {
    font-family: 'Nunito ExtraBold';
    src: url("/fonts/Nunito-ExtraBold.ttf");
}

@font-face {
    font-family: 'Nunito';
    font-weight: bold;
    src: url("/fonts/Nunito-Bold.ttf");
}

@font-face {
    font-family: 'Nunito SemiBold';
    src: url("/fonts/Nunito-SemiBold.ttf");
}

@font-face {
    font-family: 'Nunito Medium';
    src: url("/fonts/Nunito-Medium.ttf");
}

.root {
    -fx-background-color: #282a3d;
}

.button {
    -fx-font-smoothing-type: lcd;
    -fx-font-family: "Nunito SemiBold";
}

#createMenuVBox, #mainMenuVBox, #testMenuVbox {
    -fx-alignment: Center;
}

.regular-button {
    -fx-background-color: linear-gradient(to bottom left, #f78361, #f54b64);
    -fx-background-radius: 15;

    -fx-border-radius: 30 0 0 30;
    -fx-pref-height: 130;
    -fx-pref-width: 230;

    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-text-alignment: center;

    -fx-effect: dropshadow(gaussian, #1c1d2b, 20, 0.001, 5, -1);

    -fx-wrap-text: true;
}

.nav-button {
    -fx-background-color: #476dbf;
    -fx-background-radius: 30;

    -fx-max-height: 30;
    -fx-max-width: 120;

    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-text-alignment: center;
}

.add-button {
    -fx-background-color: #98ceb9;
}

.title-label {
    -fx-font-size: 32;
    -fx-font-family: "Nunito";
    -fx-font-weight: bold;
    -fx-text-fill: #f39661;
}
