@font-face {
    font-family: 'Nunito ExtraBold';
    src: url("/fonts/Nunito-ExtraBold.ttf");
}

@font-face {
    font-family: 'Nunito';
    font-weight: bold;
    src: url("/fonts/Nunito-Bold.ttf");
}

@font-face {
    font-family: 'Nunito SemiBold';
    src: url("/fonts/Nunito-SemiBold.ttf");
}

@font-face {
    font-family: 'Nunito Medium';
    src: url("/fonts/Nunito-Medium.ttf");
}

.root, .tooltip, .root-shadow {
    -fx-background-color: TRANSPARENT;
}

.root, .root-shadow {
    -fx-border-radius: 50;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, #1c1d2b, 10, 0.01, 0, 0);
    -fx-background-insets: 20 10 10 10;
}


.rounded-pane, .rounded-popup-pane {
    -fx-background-color: #282a3d;
    -fx-background-radius: 0 0 10 10;
}

.rounded-pane {
    -fx-min-height: 720;
    -fx-min-width: 720;
}

.rounded-popup-pane {
    -fx-min-height: 150;
    -fx-min-width: 350;
}

.button, .tooltip {
    -fx-font-smoothing-type: lcd;
    -fx-font-family: "Nunito SemiBold";
}

#createMenuVBox, #mainMenuVBox, #testMenuVbox {
    -fx-alignment: Center;
}

.close-button, .minimize-button, .top-bar, .top-bar-popup {
    -fx-background-color: #34364f;
}

.close-button, .minimize-button {
    -fx-background-radius: 0;
    -fx-max-height: 18;
    -fx-pref-width: 30;
    -fx-font-size: 9;
    -fx-text-fill: white;
}

.close-button:hover {
    -fx-background-color: #f54b64;
}

.minimize-button:hover {
    -fx-background-color: #4a4c6e;
}

.top-bar, .top-bar-popup {
    -fx-min-height: 20;
    -fx-pref-height: 20;
}

.top-bar {
    -fx-pref-width: 720;
    -fx-background-insets: 0 0 0 10;
    -fx-background-radius: 10 10 0 0;
}

.top-bar-popup {
    -fx-background-insets: 0 0 0 10;
    -fx-background-radius: 10 10 0 0;
    -fx-pref-width: 340;
}

.regular-button {
    -fx-background-color: linear-gradient(to bottom left, #f78361, #f54b64);
    -fx-background-radius: 15;

    -fx-border-radius: 30 0 0 30;
    -fx-pref-height: 130;
    -fx-pref-width: 230;

    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-text-alignment: center;

    -fx-effect: dropshadow(gaussian, #1c1d2b, 20, 0.001, 5, -1);

    -fx-wrap-text: true;
}

.nav-back-button, .slot-back-button, .item-back-button {
    -fx-background-color: #476dbf;
    -fx-background-radius: 30;

    -fx-text-fill: white;

    -fx-text-alignment: center;
}

.nav-back-button, .nav-continue-button {
    -fx-pref-height: 30;
    -fx-pref-width: 120;

    -fx-font-size: 20;
}

.slot-button, .add-button, .insert-coin-button, .nav-continue-button {
    -fx-background-color: #a8bd5d;
    -fx-background-radius: 30;

    -fx-text-fill: white;
}

.add-button, .item-back-button {
    -fx-min-width: 64;
    -fx-min-height: 32;
    -fx-max-width: 64;
    -fx-max-height: 32;

    -fx-font-size: 16;

    -fx-effect: dropshadow(gaussian, #c24c5c, 10, 0.000001, 2, 1);
}

.slot-button, .slot-back-button {
    -fx-pref-height: 65;
    -fx-pref-width: 65;
}

.slot-back-button {
    -fx-font-size: 24;
}

.slot-button {
    -fx-font-size: 25;
}

.insert-coin-button {
    -fx-pref-height: 60;
    -fx-pref-width: 85;

    -fx-font-size: 22;
}

.title-label, .popup-label {
    -fx-font-family: "Nunito";
    -fx-text-fill: #f39661;
}

.title-label {
    -fx-font-size: 32;
    -fx-font-weight: bold;
}

.popup-label {
    -fx-font-size: 28;
    -fx-font-weight: normal;
    -fx-text-alignment: left;
    -fx-max-width: 310;
    -fx-wrap-text: true;
    -fx-border-insets: 0 0 10 0;
}

.item-display-background {
    -fx-background-color: #e35a6d;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian, #1c1d2b, 25, 0.015, 15, 4);
}

.item-name, .item-other {
    -fx-font-family: "Nunito";
    -fx-text-fill: white;
}

.item-name {
    -fx-font-size: 24.5;
    -fx-font-weight: bold;
}

.item-other {
    -fx-font-size: 19;
    -fx-font-weight: normal;
}